# Configuration For our Custom Widget

<Connectivity> 
 ConnectionType {{ connectionType }}
</Connectivity>

<Account Information>
 Username {{ userName }}
 Password {{ userPassword }}
</Account Information>

<System Information>
 Distribution {{ ansible_os_family }}
</System Information>
